/* ==============================================================

Template name : Kelex-clean and modern landing page v1.0.0
Categorie : Landing page
Author : Nce18cex
Version : v1.0.0
Created : 05 March 2015
Last update : 18 March 2015

-----------------------------------------------------------------
CSS structure
-----------------------------------------------------------------

01. Typography
02. Images
03. Blockquote
04. Tooltip
05. Pagination
06. Navigation
07. form
08. Button
	
============================================================== */

/*
Typography
=========================== */
body {
	background:#fff;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:24px;
	font-weight:400;
	color:#5a5a5a;
	padding:0;
	margin:0;	
}

a,
a:active,
a:focus,
a:hover{
	outline:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover{
	text-decoration:underline;
}

p{
	margin: 3px 13px 15px 5px;
}


h1,
h2,
h3,
h4,
h5,
h6{
	color:white;
	margin: 5px 10px 10px 0px;
	font-weight:700;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span{
	font-weight:300;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1{
	font-size:48px;
	line-height:1.05em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h2{
	font-size:36px;
	line-height:1.25em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color:white;
	margin: -46% 0% 5% 36%;
}
@media (max-width: 767px){
h2 {
	font-size:36px;
	line-height:1.25em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color:white;
   	margin: -10% 0% 5% -3%;
}
}
h3{
	font-size:28px;
	line-height:1.25em;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h4{
	font-size:18px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height:1.22222222em;
	color: black;
	

}

h5{
	font-size:16px;
	line-height:1.375em;
}

h6{
	font-size:14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height:1.375em;
	margin-bottom:15px;	
}


ul{
	padding-left:15px;
}

ul.list{
	padding-left:0;
}

ul.list li{
	list-style:none;
}

ul.list.list-lg{
	margin-bottom:20px;
}

ul.list.list-lg li{
	font-size:16px;
	line-height:24px;
	margin-bottom:15px;
}

ul.list.list-lg li i{
	font-size:22px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	float:left;
	margin-right:5px;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}

.alignright{
	float:right;
	margin:5px 0 20px 20px;
}

.light-text{
	font-weight:300;
}

.normal-text{
	font-weight:400;
}

.bold-text{
	font-weight:700;
}

/*
Images
=========================== */
.img-responsive{
	display:inline-block;
	max-width:100%;
}

.thumbnail,
.img-thumbnail{
	border-radius:2px;
	margin:0;
	background:#fff;
	padding:5px;
	border:1px solid #e6e6e6;	
	-webkit-box-shadow: 0 5px 3px -3px #f7f7f7;
	   -moz-box-shadow: 0 5px 3px -3px #f7f7f7;
	        box-shadow: 0 5px 3px -3px #f7f7f7;
}

/*
Blockquote
=========================== */
blockquote{
	background:url(../img/quote.png) no-repeat 0 0;
	margin:0 0 20px 0;
	padding:0 0 0 30px;
	border:none;
	color:#3b3b3b;
	font-weight:400;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:24px;
	
}

 /*
Tooltip
=========================== */
.tooltip-inner {
  border-radius: 2px;
}

 /*
Pagination
=========================== */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin:0;
  border-radius: 0;
  color: #00A8D0;
}

.pagination > li > a,
.pagination > li > span {
  background-color: #00A8D0;
  border: 1px solid #dedede;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #fcfcfc;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #00A8D0;
  cursor: default;
  background-color: #00A8D0;
  border-color: #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 2px;
  margin:0 5px 0 5px;
}

/*
Navigation
=========================== */
.navbar-default{
	background-color: #FFF;
	border:none;
	padding-top:0px;
	padding-bottom:0px;
	-webkit-transition: background .8s ease-in-out,padding .8s ease-in-out;
	-moz-transition: background .8s ease-in-out,padding .8s ease-in-out;
	transition: background .8s ease-in-out,padding .8s ease-in-out;

}

.static-nav-collapse,
.top-nav-collapse{
	background-color: #FFF;
	padding-top:0;
	padding-bottom:0;
}

.navbar-default .navbar-nav > li > a{
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:white;
	padding:20px 10px 20px 10px;
}

.navbar-default .navbar-nav > li.active > a{
	background:none;
}

.static-nav-collapse .navbar-nav > li > a,
.top-nav-collapse .navbar-nav > li > a{
	padding-top:20px;
	padding-bottom:25px;
}

.dropdown-menu {
  background: rgba(255, 255, 255, 0.98);
  color:#3b3b3b;
  border: none;
  right:auto;
  font-size:13px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  border-radius:4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 10px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.98);
  content: '';
}

.dropdown-menu li a{
  color:#3b3b3b;
  padding-top:8px;
  padding-bottom:8px;
}

.dropdown-menu li a:hover{
  background:none;
}

.navbar-default .navbar-nav > li.dropdown > a.dropdown-toggle:hover,
.navbar-default .navbar-nav > li.dropdown > a.dropdown-toggle:focus,
.navbar-default .navbar-nav > li.dropdown > a.dropdown-toggle:active{
  background:none;
}
.dropdown-menu .sub-menu{left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;margin-left:7px;}
.dropdown-menu li:hover .sub-menu{visibility:visible;}

li.dropdown .sub-menu:before,
li.dropdown  .sub-menu:after {
  position: absolute;
  top: 10px;
  left: -7px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.98);
  content: '';
  border-right: 7px solid rgba(255, 255, 255, 0.98);
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus{
	border:1px solid #ccc;
	background:none;
}

.navbar-default .navbar-toggle:hover{
	background:none;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ccc;
}

/*
form
=========================== */
.form-control{
	border-radius:40px;
}

textarea.form-control{
	border-radius: 10px;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-lg{
	font-size:14px;
}

/*
Button
=========================== */
.btn {
  border-radius: 40px;
  border:2px solid;
  background:#fff;
  color:#3b3b3b;
  border-color:#fff;
}

.btn:hover{
  background:#f5f5f5;
  border-color:#f5f5f5;
}

.btn-bordered{
  background:none;
  color:#fff;
  border-color:#fff;
}

.btn.btn-bordered:hover{
  color:#3b3b3b;
  background:#fff;
  border-color:#fff;
}

.btn-bavel{
  border:1px solid;
  border-bottom:4px solid;
}

.btn-primary{
  color:#fff;
}

.btn-primary.btn-bordered{
	background:none;
}

.btn-cta{
	display:inline-block;
	text-transform:none;
	position:relative;
	text-align:left;
	line-height:24px;
	padding:15px 35px 20px 85px;
	font-size:18px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height:20px;
	border-radius:40px;
	font-weight:700;
}

.btn-cta i{
	font-size:46px;
	line-height:42px;
}

.btn-cta .pull-left{
	float:none;
	position:absolute;
	margin-left:-50px;
}

.btn-cta span{
	display:block;
	font-weight:400;
}
.btn-lgNav{
	padding:4% 8% 2% 10%;
	line-height:1.22222222em;
	margin: 0 -10%;
	font-weight: bold;
	font-size: 20px;
	background-color: #12890E;
	line-height:1.22222222em;
	margin: 0 -10%;
	color: #fff;	
	font-family: 'Open Sans',sans-serif;
}
.btn-lg{
	padding:4% 8% 2% 10%;
	line-height:1.22222222em;
	margin: 0 -10%;
	font-weight: bold;
	font-size: 20px;
	background-color: #12890E;
	line-height:1.22222222em;
	margin: 0 -10%;
	color: #fff;	
	font-family: 'Open Sans',sans-serif;
}
.btn-bordered.btn-lg{
	border:2px solid;
}

.intro .btn-horizontal{
	margin-bottom:50px;
}

.btn-horizontal a{
	margin:0 5px 5px 0;
}
.btn-lgHome {
    padding:12px 48px 16px 48px;
	font-weight:700;
	font-size:20px;
	line-height:1.22222222em;
	margin-top: 15px;
    margin-bottom: -10px;
	 border-radius: 40px;
    border: 2px solid;
    border-color: #292222;
	line-height:1.22222222em;
}

.homeP{
	
	margin:25% -70% 0px 0%;
}
@media (max-width: 767px){
.btn-lgHome {
    padding: 12px 25px 11px 25px;
    margin: 0px 0px -20px 130px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.22222222em;
}
.homeP{
	
	margin:5% 0% 0% 20%;
}

}
