/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 0;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	position:absolute;
	color: #454545;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	top:50%;
	margin:-20px 0 0 0;
	padding:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-repeat:no-repeat;
	background-color:#3b3b3b;
	width: 25px;
	height: 20px;
	overflow:hidden;
	text-indent:-99px;
	z-index:9;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	font-family: 'nunito', sans-serif;
	font-size:20px;
	font-weight:700;
	-webkit-transition: all .3s ease;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev{
	background-image:url(../img/arrow-prev.png);
	background-position:center center;
	left:0;
	border-radius:2px 0 0 2px;
}


.owl-theme .owl-controls .owl-buttons div.owl-next{
	background-image:url(../img/arrow-next.png);
	background-position:center center;
	right:0;
	border-radius:0 2px 2px 0;
}

#theme-features .owl-controls .owl-buttons div.owl-next{
	left:100%;
	top:100%;
	margin-top:-50px;
	margin-left:-65px;
}

#theme-features .owl-controls .owl-buttons div.owl-prev{
	left:100%;
	top:100%;
	margin-top:-50px;
	margin-left:-91px;
}

#client-testimoni .owl-controls .owl-buttons div.owl-next{
	left:100%;
	top:100%;
	margin-left:-65px;
	background-color:#000;
	opacity:0.75;
}

#client-testimoni .owl-controls .owl-buttons div.owl-prev{
	left:100%;
	top:100%;
	margin-left:-91px;
	background-color:#000;
	opacity:0.75;
}

#client-testimoni .owl-controls .owl-buttons div.owl-next:hover,
#client-testimoni .owl-controls .owl-buttons div.owl-prev:hover{
	opacity:1;
}

#clients-logo .owl-controls .owl-buttons div.owl-next{
	left:50%;
	top:40px;
	margin-right:-26px;
}

#clients-logo .owl-controls .owl-buttons div.owl-prev{
	left:50%;
	top:40px;
	margin-left:-26px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	margin-top:10px;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 18px;
	height: 18px;
	margin: 0 2px 0 2px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url(../img/owl-controls.png) no-repeat -18px 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background: url(../img/owl-controls.png) no-repeat 0 0;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../img/AjaxLoader.gif) no-repeat center center
}